<a href="https://colab.research.google.com/github/rodr1ggoql17/Sistema-de-base-de-datos/blob/main/restaurante.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import sqlite3 as sq

In [ ]:
def crear_db():
  conexion = sq.connect('restaurante.db')
  cursor = conexion.cursor()
  # crear las tablas
  cursor.execute("CREATE TABLE categoria( id INTEGER PRIMARY KEY AUTOINCREMENT,nombre VARCHAR(100) UNIQUE NOT NULL)")
  cursor.execute("CREATE TABLE plato(id INTEGER PRIMARY KEY AUTOINCREMENT, nombre VARCHAR(100) UNIQUE NOT NULL, categoria_id INTEGER NOT NULL, FOREIGN KEY (categoria_id) REFERENCES categoria(id))")
  conexion.commit()

In [ ]:
def agregar_categoria():
  conexion = sq.connect('restaurante.db')
  categoria_ingresar = input('Ingrese la categoria que desea ingresar: ')
  cursor = conexion.cursor()
  cursor.execute("INSERT INTO categoria VALUES" , categoria_ingresar)
  conexion.commit()

In [ ]:
def agregar_plato():
  conexion = sq.connect('restaurante.db')
  nombre_plato = input('Ingrese el nombre del plato: ')
  cursor = conexion.cursor()
  cursor.execute("INSERT INTO plato VALUES" , nombre_plato)

In [ ]:
def mostrar_menu():
  print('Bienvenido Al Restaurante Y ME LE OCURRIO OTRA IDEA')
  print('Menu de opciones (Agregar plato): ')
  print('1.Primeros')
  print('2.Segundos')
  print('3.Postres')
  resp = int(input('Ingrese su respuesta: '))
  agregar_categoria()

In [ ]:
def mostrar_menu2():
  conexion = conexion.connect('restaurante.db')
  cursor = conexion.cursor()
  cursor.execute("SELECT * FROM platos ORDER BY id ASC")

In [ ]:
while True:
  print('RESTAURANTE Y ME LE OCURRIO OTRA IDEA')
  print('1.Conexion base de datos')
  print('2.Agregar categoria')
  print('3.Agregar plato')
  print('4.Ver platos')
  print('5.Salir')
  r = int(input('Respuesta:'))
  if r==1:
    crear_db()
  elif r==2:
    mostrar_menu()
  elif r==3:
    agregar_plato()
  elif r==4:
    mostrar_menu2() 
  elif r==5:
    break
  else:
    print('Respuesta invalida')

RESTAURANTE Y ME LE OCURRIO OTRA IDEA
1.Conexion base de datos
2.Agregar categoria
3.Agregar plato
4.Ver platos
Respuesta:1