In [ ]:
import sqlite3 as sq

In [ ]:
conexion = sq.connect('ejemplo.db') # se conecta a la base de datos (si no existe la crea)
conexion

In [ ]:
# crear una tabla 
# primero creamos el cursor
cursor = conexion.cursor()

In [ ]:
# creamos tabla con nombre de usuario, edades y emails
cursor.execute("CREATE TABLE IF NOT EXISTS usuarios" \
               "(nombre VARCHAR(100),edad INTEGER, email VARCHAR(100))")

In [ ]:
# guardamos los cambios
conexion.commit()

In [ ]:
# inserion con INSERT
cursor = conexion.cursor()
# insertamos un registro en la tabla de datos
cursor.execute("INSERT INTO usuarios VALUES "\
               "('Hector',27,'hector@nasa.eu')")
# guardamos los cambios
conexion.commit()

In [ ]:
# lectura
cursor = conexion.cursor()
cursor.execute("SELECT * FROM usuarios")

In [ ]:
print(cursor)

<sqlite3.Cursor object at 0x7f4779b8ff10>

In [ ]:
# Recorremos el primer registro con el m√©todo fetchone, devuelve una tupla
usuario = cursor.fetchone()
print(usuario)

('Hector', 27, 'hector@nasa.eu')

In [ ]:
# insercion multiple
usuarios = [('CR7', 37, 'elbichosiuu@cristiano.com'),
            ('Sebastian', 99, 'sebastian.pinera@gob.cl'),
            ('Rodrigo', 20, 'rreyesm@nasa.eu')]

In [ ]:
# el metodo executemany() sirve para insertar varios 
cursor.executemany("INSERT INTO usuarios VALUES (?,?,?)", usuarios)
conexion.commit()

In [ ]:
#lectura multiple
cursor.execute("SELECT * FROM usuarios")
users = cursor.fetchall()

In [ ]:
# mostramos los datos
users

[('Hector', 27, 'hector@nasa.eu'),
 ('Hector', 27, 'hector@nasa.eu'),
 ('CR7', 37, 'elbichosiuu@cristiano.com'),
 ('Sebastian', 99, 'sebastian.pinera@gob.cl'),
 ('Rodrigo', 20, 'rreyesm@nasa.eu')]

In [ ]:
# cerramos la conexion
conexion.close()